<div>
    <div class="nav-btns-container">
    <div class="nav-btns">
     <button class="btn btn-primary nav-btn" (click)="btnPrevClicked()">Prev</button>
     <span class="btn-delimeter"></span>
     <button class="btn btn-primary nav-btn" (click)="btnNextClicked()">Next</button>
    </div>
    </div>
    <div class="container" *ngIf="heroesData">
       <!-- <hero-info 
        [hero]="heroesData[0]"
       >
       </hero-info> -->
       <hero-info 
        *ngFor="let h of heroesData"
        [hero]="h"
       >
       </hero-info>
    </div> 
</div>